<% link_root = object.class.name.downcase + field + counter.to_s -%>
<%= field.capitalize -%>: <span id="edit_<%= link_root -%>" class="certifier_name"><%= object[field] %></span>
<div id="edit_<%= link_root -%>_link" style="display:inline;color:orange;"><%= image_tag('/images/edit-icon-transparent.png') %></div>
<script type="text/javascript">
    new Ajax.InPlaceEditor("edit_<%= link_root -%>", "/supplements/content_editor_update_<%= object.class.name.downcase -%>?id=<%= object.id %>&field=<%= field -%>", { rows: 1, cols: 40, externalControl: "edit_<%= link_root -%>_link"});
</script>
