<h1 style="color:red;">STILL UNDER CONSTRUCTION</h1>
<h1>Create a New Lab Report</h1>
<% semantic_form_for :lab_report, LabReport.new, :url => 'lab_reports' do |form| %>
	<%= form.inputs %>  
	<%= form.buttons %>
<% end %>
<div>
	<% lab_report_counter = 0 -%>
	<% @lab_reports.each do | lab_report | -%>
    	<div>
			<hr/>
			<h1>Edit an Existing Lab Report</h1>
        	<span class='image_links'>
        		<%= link_to(image_tag('/images/delete-icon-transparent.png'), "javascript:deleteLabReport('" + lab_report.id.to_s + "');", {:style => "float:right;"}) %>
          	</span>
          	<% semantic_form_for :lab_report, lab_report, :url => 'update_lab_report' do |form| %>
				<%= form.inputs %>
				<%= form.buttons %>
				<%= form.hidden_field :id, :value => lab_report.id %>
			<% end %>
      	</div>
		<% lab_report_counter += 1 -%>
  	<% end -%>
</div>
<script>
  function deleteLabReport(id)
  {
      new Ajax.Request('/diagnostics_content_editor/delete_lab_report?id=' + id);
  }
</script>